.homeContainer {
    background-color: #1B7AC2;
}

.paddingContainer {
    margin: 0px 35px 0px 35px;
}

.gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    gap: 42px;
}

.mainContainer{
    background-color: #fff;
    width: 266px;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.card {
    width: 266px;
    margin: 10px;
    border-radius: 8px;
    background: #fff;
    overflow: hidden;
    text-decoration: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card_image {
    height: 385px;
    width: 100%;
}

.card_name {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #343434;
    font-weight: 700;
    padding: 6px;
    line-height: 1.34;
    text-align: center;
}

.loadMore {
    text-align: center;
    display: block;
    color: #ffffff;
    text-transform: capitalize;
    font-size: 22px;
    font-weight: 600;
    border: 1px solid;
    width: 14%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 36px;
    padding: 13px;
    position: relative;
    bottom: 17px;
    cursor: pointer;
}