.container {
    background: #1B7AC2;
    position: sticky;
    top: 0;
    box-shadow: 0 0.25rem 0.3125rem 0 rgba(0,0,0,.14), 0 0.0625rem 0 0 rgba(0,0,0,.12), 0 0.125rem 0.25rem -0.25rem rgba(0,0,0,.2);
}

.search {
    display: grid;
    grid-template-columns: auto 50px;
    padding: 22px;
}

.searchInput {
    background: rgba(255,255,255,.05);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-left: 1px solid rgba(255,255,255,.4);
    border-top: 1px solid rgba(255,255,255,.4);
    border-bottom: 1px solid rgba(255,255,255,.4);
    border-right: transparent;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    color: #fff;
    outline: 0;
}

.searchInput::placeholder {
    color: #d3cfcf;
    opacity: 1; /* Firefox */
  }

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button, input {
    overflow: visible;
}

.search button {
    background: rgba(255,255,255,.05);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-right: 1px solid rgba(255,255,255,.4);
    border-top: 1px solid rgba(255,255,255,.4);
    border-bottom: 1px solid rgba(255,255,255,.4);
    border-left: transparent;
    width: 100%;
    box-sizing: border-box;
    color: rgba(255,255,255,.8);
    cursor: pointer;
}